<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {{#link-to 'index' class="navbar-brand"}}Home{{/link-to}}
            {{#link-to 'tasks.index' class="navbar-brand"}}Task List{{/link-to}}
            {{#link-to 'new' class="navbar-brand"}}Create Task{{/link-to}}
        </div> 
    </div>   
</nav>